body {
    background: rgb(255, 255, 255);
}

ul.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    list-style-type: none;
    float: left;
    color: rgb(255, 255, 255);
}

li a {
    list-style-type: none;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

div {
    text-transform: uppercase;
    text-align: center;
}   
figure{
    float: left;
    text-transform: uppercase;
    font-weight: bolder;
    color: #000000; 
  
}
div a {
    float: left;
}

body{
    background-size: 100%;
    background-image:url("/static/fodo.jpg");
}